import com.baomidou.mybatisplus.extension.activerecord.Model;
import java.io.Serializable;
import com.baomidou.mybatisplus.annotation.*;
import lombok.Data;
import lombok.EqualsAndHashCode;
import io.swagger.annotations.ApiModelProperty;

@Data
public class $!{className}DTO{
#foreach($field in $ filedList)

$!{column.filedAnnotation}
private $!{field.filedType} $!{field.filedName};
#end
}
